.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.continentsName{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding-left: 25px;
    margin-bottom: 10px;
    color: '#09295E';
}